<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="">
    </mat-form-field>


    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


  <p>
    Username
  </p>
  <input type="text" formControlName="username" >
  <div *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">
    Username must be filled out
  </div>
  <div *ngIf="loginForm.controls.username.dirty && loginForm.controls.username.errors?.minlength">
    Username must be 5 characters
  </div>
  
  <p>
    Password
  </p>
  <input type="password" formControlName="password">
  <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
    Password must be filled out
  </div>

  <mat-checkbox>Remember Me?</mat-checkbox>



  <br />
  <button>Login</button>

  {{loginForm.status}}
</form>


